html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  background-color: var(--primary-color);
}

body {
  margin: 0;
}


main {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}



pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}



a {
  background-color: transparent;
}


abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}


b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}



progress {
  vertical-align: baseline;
}


textarea {
  overflow: auto;
}


details {
  display: block;
}


summary {
  display: list-item;
}



template {
  display: none;
}



[hidden] {
  display: none;
}

:root {
  --primary-color: grey;
  --secondary-color: #827c7c;
}

header,
footer {
  background-color: rgba(100, 50, 25, 1);
  padding: 5px;
  color: white;
  border: black solid 2px;
  text-align: center;
}

body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 2rem;
  margin: auto;
}

main {
  border-bottom: 2px solid black;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  border: black solid 2px;
  padding: 10px;
}

h1 {
  font-size: 1.5em;
  padding-top: 20px;
  padding-right: 35px;
}

h2 {
  font-size: 1.1em;
}

ul {
  list-style: square;
}

footer a,
footer a:visited,
li a:visited {
  color: lightskyblue;
}

nav {
  margin: 0 auto;
  max-width: 900px;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 10px;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background-color: #373737;
  transition: 0.5s;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

nav a:hover {
  background-color: #f2f3ae;
  color: #36454f;
}

@media only screen and (min-width: 42rem) {
  nav button {
    display: none;
  }

  nav ul#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 0.8rem;
    padding: 10px;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0);
  }
}