  #header_cs {
    background-color: #023E8A;
    color: white;
    overflow: hidden;
    font-size: 2rem;
    line-height: 150%;
  }
  
  #background_cs {
    background-color: #CAF0F8;
    color: black;
    overflow: hidden;
    font-size: 2rem;
    line-height: 150%;
  }
  
  #accent_cs {
    background-color: #00B4D8;
    color: black;
    overflow: hidden;
    font-size: 2rem;
    line-height: 150%;
}