  .persona_img,
  .site_logo {
    max-width: 200px;
    border-radius: 5%;
    border-style: double;
  }
  
  #color_scheme {
    max-width: 100%;
    border-radius: 5%;
    border-style: double;
  }
  
  .h_sample {
    font-family: "Mukta", sans-serif;
  }
  
  .p_sample {
    font-family: "Outfit", sans-serif;
  }